[Unit]
Description=sockets for SNMP trap messages

[Socket]
BindIPv6Only=ipv6-only
ListenDatagram=0.0.0.0:162
ListenDatagram=[::]:162
# Enable other listening addresses as needed - UNIX, TCP, TCP6.
# They must match listening addresses/ports defined in snmptrapd.service
# or snmptrapd.conf.
# ListenStream=0.0.0.0:162
# ListenStream=[::]:162

[Install]
WantedBy=sockets.target
